# directory movements 
alias ..='cd ..'
alias ~='cd ~'
alias ...='cd ../..'

# from victoria.dev
# create any non-existent (p)arent directories and (v) explain what was done
alias mkdir='mkdir -pv'
# always expain (v) what was done when moving a file
alias mv='mv -v'
# always copy contents of directories (r)ecursively and (v) explain what was done
alias cp='cp -rv' 

# eza
alias eza='eza --oneline --icons --color=always --all'
alias ezat='eza --tree --group-directories-first --icons --color=always '

# git
alias g='git'
alias gf='git fetch'
alias gp='git pull'
alias gc='git commit'
alias gcm='git commit -m'
alias gpo='git push origin HEAD'
alias gcb='git checkout --track'
alias gs='git status'
alias ga='git add'
alias gmr='git merge'
alias gr='git restore'
alias grst='git restore --staged'
alias gsw='git switch'
alias gbr='git branch'
alias gdf='git diff'

# docker
alias dcr='docker'
alias dps='docker ps'
alias dst='docker start'
alias dstp='docker stop'

# list $PATH entries on separate lines
alias path='echo -e ${PATH//:/\\n}'

# edit ~/.aliases
alias ea='vim $HOME/dotfiles/.aliases'

# reload ~/.zshrc 
alias szc='source $HOME/.zshrc'
